.login { 
	height:150px;
	width:200px;
	margin: 100 auto 0 auto;
	border:1px #CCC solid;
	padding:10px;
}

.login input { 
	padding:5px;
	margin:10px
 }
 
 .login #submit{ 
	width:40%;
	height:20%
 }
 
 
 